
body{
	background: white;
	color: black;
	align-content: center;
	left:200px;
	right:200px;
}
p{
	background: white;
	color: black;
	text-align: center;
}
ul{
	align-content:left;
	background:white;
	max-width: 25%;
	color: black;
}
header{
	
	text-align: center;
	background: black;
	color:grey
}
h1{
	color:black;
	text-align:center;
}
h2{
	color:black;
	text-align: center;	
}
.Future{
	text-align:center;
	align-content:center;
}
