
body{
	background: rgb(61, 153, 244);
	color: white;
	text-align:left;
	padding-left:2in;
	padding-right:2in;
}
p{
	background: rgb(61, 153, 244);
	color: white;
	text-align: left;
	padding-left:2in;
	padding-right:2in;
}
ul{
	align-content:left;
	background:rgb(61, 153, 244);
	color: black;
	padding-right:2in;
	padding-left:2in;
}
header{
	
	text-align: left;
	background:black;
	color:white;
	padding-left:2in;
	padding-right:2in;
}
h1{
	color:white;
	text-align:center;
}
h2{
	color:white;
	text-align: center;	
}
.Future{
	text-align:left;
}
a{
	background:black;
	color:white;
	text-align: center;
}
img{
	align-content:center
}
