body{
	background: rgb(106, 162, 252);
	color: white;
	text-align:left;
     font-family: 'Aldrich';
	 padding-left:300px;
	 padding-right:300px;

}
p{
	background:rgb(106, 162, 252);
	color: white;
	text-align: center;
        font-family: 'Aldrich';
	padding-left:300px;
	padding-right:300px;

}
ul{
	align-content:left;
	background:rgb(106, 162, 252);
    color:white;
    font-family: 'Aldrich';
	padding-right:300px;
	padding-left:300px;
}
header{
	
	text-align: center;
	color:white;
        font-family: 'Aldrich';
   background:rgb(106, 162, 252);
}
h1{
	color:white;
	text-align:center;
     font-family: 'Aldrich';

}
h2{
	color:white;
	text-align: center;
        font-family: 'Aldrich';
}
h3{
    text-align:center;
    color:white;
    font-family: 'Aldrich';
}

.Future{
	text-align:center;
     font-family: 'Aldrich';
	 padding-right:300px;
	 padding-left:300px;
	
}
a{
	color:white;
	text-align: left;
        font-family: 'Aldrich';
}
.links{
font-family: 'Aldrich';
color: white;
text-align:center;
background:rgb(106, 162, 252);
}
.linktoall7thgradework{
    padding-left:200px;
    padding-right:125px;

}
.header{
	background:rgb(106, 162, 252)
;
}
