
body{
	background: rgb(61, 153, 244);
	color: white;
	text-align:left;
	left: 200px;
	right: 200px;
	
}
p{
	background: grey;
	color: white;
	text-align: left;
}
ul{
	align-content:left;
	background:white;
	max-width: 25%;
	color: black;
}
header{
	
	text-align: left;
	background: black;
	color:white;
}
h1{
	color:white;
	text-align:left;
}
h2{
	color:white;
	text-align: left;	
}
.Future{
	text-align:left;
	align-content:left;
}
a{
	background:black;
	color:white;
}
