body{
	background: white;
	color: rgba(0,0,0,.8);
	text-align:left;
     font-family: 'Aldrich';

}
p{
	background:white;
	color: rgba(0,0,0,.8);
	text-align: center;
        font-family: 'Aldrich';

}
ul{
	align-content:left;
	background:white;
    color:rgba(0,0,0,.8);
    font-family: 'Aldrich';
	
}
header{
	
	text-align: center;
	color:white;
        font-family: 'Aldrich';
   
}
h1{
	color:rgba(0,0,0,.8);
	text-align:center;
     font-family: 'Aldrich';

}
h2{
	color:rgba(0,0,0,.8);
	text-align: center;
        font-family: 'Aldrich';
}
h3{
    text-align:center;
    color:rgba(0,0,0,.8);
    font-family: 'Aldrich';
}

.Future{
	text-align:center;
     font-family: 'Aldrich';
	
}
a{
	color:rgba(0,0,0,.8);
	text-align: left;
        font-family: 'Aldrich';
}
.links{
font-family: 'Aldrich';
color: rgba(0, 0, 0, 0.5);
text-align:center;
}
.linktoall7thgradework{
    padding-left:200px;
    padding-right:125px;

}
li {
      display: inline;
  
}
